<div class="form-group">
  <%= form.radio_button :periodic, 'daily' %>
  <%= form.label :periodic, 'Daily' %>

  <%= form.radio_button :periodic, 'monthly' %>
  <%= form.label :periodic, 'Monthly' %>

  <%= form.radio_button :periodic, 'yearly' %>
  <%= form.label :periodic, 'Yearly' %>
</div>