<%= simple_form_for(@shopping) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
  </div>

  <%= render partial: 'status', locals: {f: f } %>
  <%= render partial: 'urgent', locals: {f: f } %>


  <div class="form-actions">
    <%= f.button :submit, "Save", class: 'btn btn-outline-primary btn-block' %>
  </div>
<% end %>
