<tr>
  <td><%= shopping.id %></td>
  <td><%= shopping.name %><td>
  <td><%= shopping.status %><td>
  <td><%= link_to '', shopping, id: "show#{shopping.id}", class: 'fa fa-eye index-icons' %></td>
  <td><%= link_to '', edit_shopping_path(shopping), id: "edit_#{shopping.id}", class: 'fa fa-edit index-icons' %></td>
  <td><%= link_to '', shopping_path(shopping), method: :delete, id: "delete_shopping_#{shopping.id}_from_index",  class: 'fa fa-trash index-icons', data: { confirm: 'Are you sure?' } %></td>
</tr>